body {
    font-family: 'Roboto';
    font-size: 400;
}

.container {
    width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-color: #012D63;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 29px;
    margin-left: 152px;
    margin-right: 73px;
}

.header-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #c7c7c7;
}

.header-link:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.Eng {
    font-weight: 400;
    color: #fff;
}

.hero-section {
    height: 858px;
    background-image: url("./img/backround.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-nike {
    margin-top: 94px;
    padding-left: 6px;
    width: 160px;
    height: 120px;
    margin-bottom: -35px;
}

.hero-mark {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    padding-left: 31px;
}

.hero-subtitle {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 144px;
    color: #fff;
}

.hero-subtext {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 72px;
    color: #fff;
    margin-top: -16px;
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 12px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-bottom: 41px;
}

.hero-button {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    width: 254px;
    height: 67px;
    background: #8e32c6;
    padding-left: 61px;
    padding-bottom: 19px;
    padding-top: 21px;
    padding-right: 61px;
}

.about-us {
    height: 606px;
    background-image: url("./img/backround2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-container {
    display: flex;
    height: 606px;
    align-items: center;
    justify-content: center;
}

.about-list {
    display: flex;
    gap: 95px; 
    border: solid 5px #8e32c6;
    padding-top: 25px;
    padding-bottom: 19px;
    padding-left: 50px;
    padding-right: 50px;
}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px #fff;
    padding-right: 72px;
}

.about-item:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: none;
    padding-right: 0;
}

.about-subtitle {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #fff;
    width: 159px;
}

.reviews {
    height: 520px;
    background-image: url("./img/folwers.webp"), url("./img/backround3.webp");
    background-size: auto, cover;
    background-position: left, center;
    background-position-y: bottom;
    display: flex;
    background-repeat: no-repeat;
}

.reviews-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #fff;
}

.reviews-container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 125px;
    flex-direction: column;
}

.reviews-list {
    display: flex;
    justify-content: center;
    gap: 93px;
    margin-top: 24px;
}

.reviews-item {
    padding-top: 49px;
    padding-bottom: 29px;
    padding-left: 13px;
    padding-right: 14px;
}

.reviews-subtitel {
    max-width: 228px;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.reviews-date {
    font-weight: 400;
    font-size: 14px;
    color: #d8d8d8;
    margin-top: 8px;
    margin-bottom: 47px;
}

.reviews-name {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.reviews-from {
    font-weight: 400;
    font-size: 12px;
    color: #d8d8d8;
}

.reviews-1 {
    border-radius: 15px;
    width: 255px;
    height: 292px;
    box-shadow:0 14px 0 -5px #7b54b2, 0 30px 0 -13px #533978;
    background: linear-gradient(135deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
}

.reviews-2 {
    border-radius: 15px;
    width: 255px;
    height: 292px;
    box-shadow: 0 14px 0 -5px #9159b1, 0 30px 0 -13px #61337c;
    background: linear-gradient(135deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
}

.reviews-3 {
    border-radius: 15px;
    width: 255px;
    height: 292px;
    box-shadow: 0 14px 0 -5px #b95a4c, 0 30px 0 -13px #732f26;
    background: linear-gradient(135deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
}

.contant {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.name h4, .name h5 {
    margin: 1px;
}

.order {
    height: 509px;
    background-image: url("./img/backround4.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.order-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
}

.order-container {
    height: 509px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 21px;
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    margin-top: 15px;
}

.order-item {
    border-radius: 50px;
    /* width: 580px;
    height: 50px; */
    background-color: #fff;
}

.order-item:first-child {
    .order-input {
        border-radius: 50px;
        width: 690px;
        height: 60px;
    }
}

.order-input {
    display: flex;
    border-radius: 50px;
    width: 580px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-left: 25px;
    border: none;
    font-weight: 400;
    font-size: 28px;
    color: #959595;
}

.order-label {
    padding-top: 15px;
    padding-bottom: 11px;
    font-weight: 400;
    font-size: 24px;
    color: #959595;
}


.order-button {
    border-radius: 16px;
    width: 248px;
    height: 68px;
    background: #8e32c6;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    border: none;
}

.first-order-item {
    border-radius: 50px;
    width: 690px;
    height: 60px;
}

.order-confirm {
    font-weight: 400;
    font-size: 28px;
    color: #8d8d8d;
}

.footer {
    height: 292px;
    background: #021635;
}

.footer-container {
    height: 292px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.footer-mails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 45px;
}

.footer-item {
    display: flex;
    justify-content: space-between;
}

.footer-question {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.footer-mail {
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

.line {
    border: 1px solid #9b9b9b;
    width: 1410px;
    height: 0px;
    margin-top: 10px;
}

.footer-date {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.footer-country {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.footer-adress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot-date {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-bottom: 7px;
}

.foot-usa {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.footer-together {
    display: flex;
    justify-content: space-between;
}

.footer-mark {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    transform: translateY(-22px);
}

.footer-text {
    margin-top: 24px;
}

.footer-logo {
    width: 108px;
    height: 81px;
}