.container {
    width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}

.header {
    background-color: #012D63;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-nike {
    width: 100px;
    height: 60px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 29px;
    margin-left: 152px;
    margin-right: 73px;
}

.header-link {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #c7c7c7;
}

.header-link:hover {
    font-family: "Roboto", 400;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.Eng {
    font-weight: 400;
    color: #fff;
}

.hero-section {
    height: 858px;
    background-image: url(./img/backround.webp);
    background-position: center;
}

.hero-nike {
    margin-top: 94px;
    width: 160px;
    height: 120px;
    margin-left: 6px;
}

.hero-mark {
    font-family: "PT Serif", 400;
    margin-top: -30px;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    margin-left: 31px;
}

.hero-subtitle {
    font-family: "Playfair Display";
    margin-bottom: -46px;
    font-weight: 400;
    font-size: 144px;
    color: #fff;
    margin-left: -8px;
}

.hero-subtext {
    font-family: "Playfair Display";
    margin-top: 36px;
    font-weight: 400;
    font-size: 72px;
    color: #fff;
}

.hero-text {
    font-family: "Roboto";
    margin-top: 12px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.hero-button {
    margin-top: 41px;
    border-radius: 10px;
    width: 254px;
    height: 67px;
    background: #8e32c6;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-bottom: 183px;
}

.about-us {
    height: 606px;
    background-image: url(./img/backround2.webp);
    background-position: center;
}

.about-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 145px;
}

.about-container {
    height: 606px;
}