.container {
    width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 90px;
    background: #012d63;
}

.header-container {
    display: flex;
}

.header-list {
    display: flex;
    gap: 29px;
    margin-left: 152px;
    margin-top: 30px;
}

.header-link {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 24px;
    color: #c7c7c7;
}

.header-link:hover {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.header-lang {
    font-weight: 300;
    font-size: 24px;
    color: #dcdcdc;
}

.header-nike {
    margin-top: 16px;
}

.hero-section {
    height: 858px;
    background-image: url(./img/backround.webp);
}

.hero-container {
    padding-top: 94px;
}

.hero-nike {
    width: 160px;
    height: 120px;
    margin-left: 14px;
}

.hero-mark {
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    margin-left: 39px;
    margin-top: -35px;
}

.hero-subtitle {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 144px;
    color: #fff;
}

.hero-subtext {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 72px;
    color: #fff;
    margin-left: 8px;
}

.hero-text {
    font-family: "Roboto", Regular;
    margin-top: 12px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.hero-button {
    font-family: "Roboto", Regular;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-top: 41px;
    border-radius: 10px;
    width: 254px;
    height: 67px;
    background: #8e32c6;
}