body {
    width: 100%;
}

.container {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px red;
}

.header {
    background-color: #012D63;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 29px;
    margin-left: 152px;
    margin-right: 73px;
}

.header-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #c7c7c7;
}

.header-link:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.Eng {
    font-weight: 400;
    color: #fff;
}

.hero-section {
    height: 858px;
    background-image: url("./img/backround.webp");
    background-position: center
}

.hero-nike {
    margin-top: 94px;
    padding-left: 6px;
    width: 160px;
    height: 120px;
    margin-bottom: -35px;
}

.hero-mark {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    padding-left: 31px;
}

.hero-subtitle {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 144px;
    color: #fff;
}

.hero-subtext {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 72px;
    color: #fff;
    margin-top: -16px;
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 12px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 254px;
    height: 67px;
    background: #8e32c6;
    border-radius: 10px;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-top: 41px;
    margin-bottom: 183px;
}

.about-us {
    height: 606px;
    background-image: url("./img/backround2.webp");
    background-position: center;
}

.about-container {
    height: 606px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-list {
    width: 1110px;
    height: 396px;
    display: flex;
    margin-left: 165px;
    margin-right: 165px;
    border: solid 5px #8e32c6;
    align-items: center;
    padding-left: 50px;
}

.about-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.about-item:last-child {
    margin-right: none;
}

.about-subtitle {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #fff;
}